
<h1>Artist Database</h1>
<h2>Search for artists by country.</h2>
<form class="form-horizontal episode">
  <input id="name" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Search</button>
</form>
<h3>Results:</h3>
<ul class="search_results"></ul>
<div id="artists"></div>
<div id="country"></div>
<div id="city"></div>
<div id="medium"></div>
<div id="artists_medium"></div>
<div id="artists_residence"></div>
<div id="search_artists"></div>
